<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proj.zyr.myweather">
    <!--允许应用连接网络-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.proj.zyr.app.MyApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!--注册MainActivity-->
        <activity android:name=".MainActivity">
            <!--intent-filter（意图过滤器），用来存放意图的属性-->
            <intent-filter>
                <!--android.intent.action.MAIN决定应用程序最先启动，android.intent.category.LAUNCHER决定应用程序是否显示在程序列表里-->
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".SelectCity">
        </activity>
    </application>
</manifest>
